*.log
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex
*.gz
White Dwarf Particle Detector.aux

White Dwarf Particle Detector.aux

*.gz

*.log

*.aux

*.pdf

*.pdf

*.gz

*.pdf

*.log

*.aux

*.pdf

*.log

*.pdf

White Dwarf Particle Detector.out
